{% extends "base.html" %}
{% block content %}

<div class="container-fluid my-3 mx-1 text-center row align-items-center justify-content-center">
    <table class="table table-hover table-responsive table-bordered table-condensed" style="width: 1300px;">
        <th>
            <td><h5>Nombre/s</h5></td>
            <td><h5>Apellido</h5></td>
            <td><h5>Email</h5></td>
            <td><h5>Telefono</h5></td>
            <td><h5>Dirección</h5></td>
            <td><h5>ZIP</h5></td>
            <td><h5>Posición</h5></td>
            <td><h5>Más info</h5></td>
        </th>

        {% for id, first, last, email, phoneNumber, addr, zip, position in empleados %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ first }}</td>
                <td>{{ last }}</td>
                <td>{{ email }}</td>
                <td>{{ phoneNumber }}</td>
                <td>{{ addr }}</td>
                <td>{{ zip }}</td>
                <td>{{ position }}</td>
                <td><a href="{{ url_for('empleado', idEmpleado=id) }}"><button>Info</button></a></td>
            </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}