<!doctype html>
<html lang="en">

<head>
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container-fluid">
    <div class="row m-4">
        <div class="col-12 col-md-8">
            <h1>Entrada de: {{ entrada[0][1] }}</h1>
            <br> {% for id, name, employeeId, day, time, expectedCheckin, expectedCheckout, temperature, inOut in entrada %}
            <div>
                <h2><b>Id de la Entrada: </b></h2>
                <h4> ⇛ {{ id }}</h4>

                <h2><b>Id del Empleado</b></h2>
                <h4> ⇛ {{ employeeId }}</h4>
                <br>
            </div>
            <div>
                <h2><b>Dia de la Entrada: </b></h2>
                <h4> ⇛ {{ day }}</h4>

                <h2><b>Horario de {{ "Entrada" if inOut == "In" else "Salida" }} </b></h2>
                <h4> ⇛ {{ time }}</h4>

                <h2><b>{{ "Horario de Entrada Esperado" if inOut == "In" else "Horario de Salida Esperado" }} </b></h2>
                <h4> ⇛ {{ expectedCheckin if inOut == "In" else expectedCheckout }}</h4>
            </div>
            {% endfor %}
        </div>


        <div class="col-6 col-md-4 float-right text-center bg-dark text-white " style="height: 550px; border-radius: 21px 21px 21px 21px;">
            <img src="static/foto.jpg" style="height: 150px; margin: 5%;"> {% for id, nombre, apellido, email, phoneNumber, address, zipCode, position in datosEmpleado %}
            <div style="margin: auto">
                <h1>{{ apellido }}.jpg</h1>
                <h4>Nombre: <a href="{{ url_for('empleado', idEmpleado = 1)}}">{{nombre}}{{apellido}}</a></h4>
                <h4>Posición: {{ positions }}</h4>
                <h4>Posicion: {{ position }}</h4>
                <h4>Email: <a href="mailto:{{ email }}">{{ email }}</a></h4>
                <h4>Telefono: {{ phoneNumber }}</h4>
                <h4>Dirección: {{ address }}</h4>
                <h4>Código Postal: {{ zipCode }}</h4>
            </div>
            {% endfor %}
        </div>


    </div>

</html>