{% extends "base.html" %} {% block content %}


<div class="container-fluid">
    <div class="row m-1" style="height:950px;">

        <div class="col bg-dark" style="border-radius: 10px">
            <div class="bg-secondary bg-opacity-75 text-white h3 text-center bg-gradient" style="height: 50px; border-radius: 0 0 10px 10px; padding-top:7px;">
                <h3>Entradas/Salidas Recientes</h3>
            </div>
            <div class="overflow-auto" style="height:900px;">
                {% for id, name, _, _, time, expectedCheckin, expectedCheckout, temperature, inOut in entradas %}
                    <div class="my-3 mx-2 bg-secondary bg-opacity-75 text-white p-3" style="height:180px; border-radius:10px;">
                        <h4 class="">{{ "Entrada" if inOut == 'In' else "Salida" }} de: {{ name }}</h4>
                        <p class="h5">Horario de {{ "Entrada" if inOut == 'In' else "Salida" }}: {{ time }}</p>
                        <p class="h5">Horario Esperado de {{ "Entrada" if inOut == 'In' else "Salida" }}: {{ expectedCheckin if inOut == 'In' else expectedCheckout }}</p>
                        <a class="my-2 btn {{ 'btn-success' if ((time <= expectedCheckin) if inOut == 'In' else (time >= expectedCheckout)) else 'btn-danger' }}" href="{{ url_for('entrada', idEntrada=id) }}">Ver Entrada </a>
                    </div>
                {% endfor %}
            </div>
        </div>  

        <div class="col-6">
            <div class="row">
                <div class="col text-center" >
                    <img src="{{ url_for('static', filename='photos/background.jpg') }}" style="height:300px">
                </div>
                <div class="row m-1 pb-0" style="height:450px;">
                    <div class="col bg-secondary mx-3" style="border-radius:10px">
                        <div class="bg-dark bg-opacity-75 text-white h3 text-center bg-gradient" style="height: 50px; border-radius: 0 0 10px 10px; padding-top:7px;">
                            <h3>Cambios de admins</h3>
                        </div>
                        <div class="row text-white m-1 overflow-auto" style="height:589px;">
                            {% for id, adminName, change, time, day in cambiosAdmins %}
                                <p class="h5">  
                                    [{{ id }}] {{ adminName }}: {{ change }} 
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col bg-dark mx-3    border border-dark" style="border-radius: 10px">
                        <div class="bg-secondary text-white h3 text-center bg-gradient" style="height: 50px; border-radius: 0 0 10px 10px; padding-top: 7px;">
                            <h3>Empleados en la watchlist</h3>
                        </div>
                        <div class="text-white m-1 overflow-auto" style="height:589px;">
                            {% for id, first, last, email, num, addr, zip, role in empleadosVigilados %}
                            <p class="h5">
                                {{ id }}: {{ first }} {{ last }} 
                                <a href="{{ url_for('eliminarEmpleadoDeWatchlist', idEmpleado=id) }}">
                                    <img src="{{ url_for('static', filename='icons/trash-fill.svg') }}" style="filter:invert(1); height:17px;"></a>
                                
                                <a href="{{ url_for('empleado', idEmpleado=id) }}">
                                    <img src="{{ url_for('static', filename='icons/file-earmark-person-fill.svg') }}" style="filter:invert(1); height:17px;">
                                </a>
                            </p>
                            
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col bg-secondary" style="border-radius: 10px">
            <div class="bg-dark bg-opacity-75 text-white h3 text-center bg-gradient" style="height: 50px; border-radius: 0 0 10px 10px; padding-top:7px;">
                <h3>Entradas Recientes de la Watchlist</h3>
            </div>
            <div class="overflow-auto"  style="height: 900px;">
                {% for id, name, _, _, time, expectedCheckin, expectedCheckout, temperature, inOut in entradasPrioritarias %}
                    <div class="my-3 mx-2 bg-dark bg-opacity-75 text-white p-3" style="height:180px; border-radius:10px;">
                        <h4 class="">{{ "Entrada" if inOut == 'In' else "Salida" }} de: {{ name }}</h4>
                        <p class="h5">Horario de {{ "Entrada" if inOut == 'In' else "Salida" }}: {{ time }}</p>
                        <p class="h5">Horario Esperado de {{ "Entrada" if inOut == 'In' else "Salida" }}: {{ expectedCheckin if inOut == 'In' else expectedCheckout }}</p>
                        <a class="my-2 btn {{ 'btn-success' if ((time <= expectedCheckin) if inOut == 'In' else (time >= expectedCheckout)) else 'btn-danger' }}" href="{{ url_for('entrada', idEntrada=id) }}">Ver Entrada</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>














{% endblock %}